{# src/Heebari/dataBundle/Resources/views/Bargraphe.html.twig #}
{% extends "@template/result.html.twig" %}
{% block titre %} 
    <label class="label"> {{ dump(libelle) }}</label>
{% endblock titre %}   
{% block resultat %}
    <script src="{{ asset('bundles/Heebaridata/Script/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/Script/graphe.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }
        var arr = getJSonObject("{{result|json_encode()}}");
        graph(arr);
    </script>
    <div class="col-lg-5 col-xs-5">
        {{ dump(result) }}
    </div>
    <div class="col-lg-7 col-xs-7">
            <div id="chart1"> </div>
    </div>
{% endblock resultat %}
{% block Script %} 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ asset('bundles/Heebaridata/Script/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/Script/scripts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/jquery.jqplot/jquery.jqplot.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/jquery.jqplot/plugins/jqplot.barRenderer.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/jquery.jqplot/plugins/jqplot.categoryAxisRenderer.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/jquery.jqplot/plugins/jqplot.pieRenderer.js') }}" type="text/javascript"></script>
    <script src="{{asset('bundles/Heebaridata/jquery.jqplot/plugins/jqplot.pointLabels.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/jquery.jqplot/jquery.jqplot.css') }}" type="text/javascript"></script>
{% endblock Script %}

