{# src/Heebari/dataBundle/Resources/views/result.html.twig #}
{% extends "@template/result.html.twig" %}
{%block titre %}
{% endblock titre %}
{% set economic =  donnee["economic_data"]| default([]) %}

{% block resultat %}
    {% set now =  donnee["economic_data"][0]["dateOfInformation"]| default('no data') %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>{{ donnee["pays"]|upper }}</h4>
        </div>
        <div class="panel-body">  
             {% set valeur = donnee["PIB"][0] | default([]) %}
            <p>Monnaie :&nbsp;{{ donnee["monaie"][0]["currency"]}}</p>
            <p>Population en {{ donnee["parametre_population"][0]["dateOfInformation"]}}&nbsp;:{{ donnee["parametre_population"][0]["population"]}}</p>
            <p>Pib  en   {{ valeur["dateOfInformation"]|default('NA')}}&nbsp;:{{ valeur["GDP"]|default('NA')}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% set valeur = donnee["PIB"][0] | default([]) %}
                    <h5>PIB par habitant {{ valeur["dateOfInformation"] | default("NA") }}</h5>
                </div>
                <div class="panel-body">
                    {% if donnee["parametre_population"][0] is defined %}
                        <p>{{ valeur["GDP"]|default(0)/donnee["parametre_population"][0]["population"]}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Coissance PIB {{ now }} </h5>
                </div>
                <div class="panel-body">
                     {% set valeur = donnee["economic_indic"][0] | default([]) %}
                    <p>{{valeur["gdpGrowth"]| default("NA")}} </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% set valeur = donnee["population growth"][0] | default([]) %}
                    <h5>Croissance population {{ valeur["dateOfInformation"]| default("NA") }}</h5>
                </div>
                <div class="panel-body">
                    {% set valeur = donnee["population growth"][0] | default([]) %}
                    <p>{{valeur["Populationgrowth"] |default("NA")}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Densité population {{ now }}</h5>
                </div>
                <div class="panel-body">
                    {% set valeur = donnee["parametre_population"][0] | default([]) %}
                    <p>{{valeur["density"]|default("NA")}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution PIB</h4>
                <div id="mychart" style="height: 250px;"></div>
                <p></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution Export net</h4>
                <div id="mychart2" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution revenu fiscal</h4>
                <div id="mychart3" style="height: 250px;"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution inflation</h4>
                <div id="mychart5" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution investissement</h4>
                <div id="mychart7" style="height: 250px;"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h4>Evolution inflation et PIB</h4>
                <div id="mychart6" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for data in donnee["economic_data"] %}
            <div class="col-sm-4">
                <div class="well">
                    <h4>Repartition investissement {{ data['dateOfInformation'] }}</h4>
                    <div id="var{{loop.index}}" style="height: 250px;"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock resultat %}
{% block Script %} 
    {{ parent() }}
    {% javascripts 'bundles/Heebaridata/Script/morrisjs/morris.min.js'
                    'bundles/Heebaridata/Script/raphael/raphael-min.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        
        {% set sign = donnee["monaie"][0]["currencyCode"]%}
        {% for data in donnee["economic_data"] %}
            {% set vari =  data | donot('publicInvestment','privateInvestment','foreignDirectInvestment') %}
                dessine("{{vari[0] | json_encode()}}", 'publicInvestment', 'privateInvestment', 'var{{ loop.index }}', 'D')
        {% endfor %}

        {% set chart6 =  economic| bar(donnee["economic_indic"],'dateOfInformation','priceIndex','gdpGrowth') %}
            dessine("{{economic|json_encode()}}", 'dateOfInformation', 'fiscalRevenue', 'mychart3', 'L','{{ sign }}')
         dessinebar("{{chart6|json_encode()}}", 'dateOfInformation', 'priceIndex', 'gdpGrowth', 'Inflation', 'gdpGrowth', 'mychart6')
            dessine("{{economic|json_encode()}}", 'dateOfInformation', 'investment', 'mychart7', 'L','{{ sign }}')
            dessine("{{economic|json_encode()}}", 'dateOfInformation', 'priceIndex', 'mychart5', 'L','{{ sign }}')
            dessine("{{donnee["PIB"]|json_encode()}}", 'dateOfInformation', 'GDP', 'mychart', 'L','{{ sign }}')
            dessine("{{donnee["Net Export"] | json_encode()}}", 'dateOfInformation', 'NE', 'mychart2', 'L','{{ sign }}')

    </script>
{% endblock Script %}

